@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: "Objectivity";
  src: url("../../public/fonts/Objectivity-Bold.otf");
  src: url("../../public/fonts/Objectivity-Bold.woff2");
}

@font-face {
  font-family: "ProximaNova";
  src: url("../../public/fonts/ProximaNova-Regular.otf");
  src: url("../../public/fonts/Objectivity-Bold.woff2");
}


* {
  @apply font-poppins;
}
#app {
  @apply overflow-x-hidden flex flex-col min-h-screen;
}
body {
  @apply flex flex-col justify-between min-h-screen;
}
main {
  @apply flex-1;
}

article {
  margin-bottom: 60px;
  padding-top: 60px;
}
/* Utilities */
h1, .fake-h1,
h2, .fake-h2 {
  @apply font-objectivity text-dark;
}
h1, .fake-h1 {
  font-size: clamp(2rem, 0.75rem + 2.25vw, 3.375rem) !important;
}
h2, .fake-h2 {
  font-size: clamp(1.75rem, 0.5rem + 1.75vw, 2.5rem) !important;
}
.border-md {
  border-radius: 50px;
}
.border-xl {
  border-radius: 80px;
}
input[type="text"],input[type="password"],input[type="email"], textarea, select, input[type="date"] {
  @apply block rounded-xl w-full;
  border: 1px solid #ebeaea;
  font-family: "ProximaNova";
  font-size: 1.125rem;
  height: 50px;
  padding: 0 25px;
  background-color: #f7f7f7;
  margin-top: 0.8rem;
}
label {
  @apply font-proximanova text-dark;
  font-size: 1.125rem;
}
select {
  -webkit-appearance: none;
  appearance: none;
  background-image: url(/storage/icons/arrow-down.svg);
  background-repeat: no-repeat;
  background-position: 96% 50%;
  background-size: 25px;
}
textarea {
  @apply h-auto;
  padding-top: 15px;
}

.border-sm {
  border-radius: 15px;
}
:focus-visible {
  outline: none;
  outline: 1px solid var(--primary);
  box-shadow: rgb(0 0 0 / 7%) 0px 1px 2px, rgb(0 0 0 / 7%) 0px 2px 4px, rgb(0 0 0 / 7%) 0px 4px 8px, rgb(0 0 0 / 7%) 0px 8px 16px, rgb(0 0 0 / 7%) 0px 16px 32px, rgb(0 0 0 / 7%) 0px 32px 64px;
}
/* Components */
.img {
  @apply absolute w-full h-full object-cover;
}
.img-wrapper {
  @apply relative overflow-hidden;
}
.img-wrapper--circle {
  @apply rounded-full overflow-hidden;
}
.img--size-md {
  width: 350px;
  height: 350px
}
.img--size-xl {
  width: 550px;
  height: 550px
}
.profile-img--xl,
.profile-img {
  @apply rounded-full overflow-hidden;
  height: 75px;
  width: 75px;
}
.profile-img--xl {
  height: 100px;
  width: 100px;
}
.form-check input[type="checkbox"]  {
  @apply inline-block w-auto;
}
.form-check label {
  @apply font-poppins ml-2 mt-1;
  font-size: 16px;
}
.btn--inline {
  @apply w-full text-center font-bold p-2 my-2 rounded-xl cursor-pointer;
  height: 50px;
}
.btn {
  @apply cursor-pointer;
}
.btn--orange {
  @apply bg-primary text-white border-2 border-primary;
}
.btn--orange:hover {
  @apply bg-white text-primary border-2 border-primary no-underline;
}
.btn--white {
  @apply bg-white text-primary border-2 border-white no-underline;
}
.btn--white:hover {
  @apply bg-primary text-white border-2 border-white cursor-pointer !important;
}
.label--btn {
  padding: 0.7rem 1rem 0.6rem 1rem !important;
}
.header-spacing {
  margin-top: 80px;
}
.edit-icon {
  @apply bg-primary rounded-full;
  height: 35px;
  width: 35px;
}
/* Header */
.header {
  @apply w-full;
  height: 80px;
}
.profile-img--nav {
  height: 55px;
  width: 55px;
}
.logo {
  height: 80px;
  width: 180px;
}
.logo img {
  object-fit: contain !important;
}
.card-shadow {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.menu-item a {
  font-size: 18px;
}
.menu-item a:hover {
  @apply font-bold border-primary text-primary rounded-xl py-2;
  border-width: 2px;
}
.menu-item.hover-white a:hover {
  @apply font-bold border-white text-white rounded-xl py-2;
  border-width: 2px;
}

.menu-item .btn {
  @apply px-4 !important;
}
.menu .stripe {
  @apply flex-1 w-full bg-white;
  height: 5px;
  border-radius: 50px;
}
.menu-scroll {
  @apply bg-white shadow-sm;
}
.menu-scroll {
  @apply bg-white shadow-sm;
}
.menu-scroll .menu .stripe {
background-color: black !important;
}
.hamburger-icon {
  @apply p-2 ml-auto cursor-pointer mr-3 mt-3;
  height: 50px;
  width: 50px;
  /*margin-top: 5px;*/
  margin-bottom: 5px;
  padding: 0.5rem 0.5rem 0.5rem 0;
}
.stripe-1, .stripe-2 {
  margin-bottom: 0.5rem;
}

/* Footer */
footer {
  @apply mt-auto;
}
footer p {
  font-size: clamp(1rem, 0.6094rem + 1.25vw, 1.3125rem);
}
/* Home */
main#app.welcome-content p:not(.text-base) {
  font-size: clamp(1rem, 0.6094rem + 1.25vw, 1.3125rem);
}
.welcome-content h1 {
  @apply text-center xl:text-left !important;
}
.team-img {
  width: 350px;
  height: 350px;
}
.card {
  @apply flex-1 flex flex-col items-center;
}
.hero-section {
  @apply flex flex-col space-y-3 xl:grid xl:grid-cols-2 w-full justify-center items-center relative;
  height: 100vh;
}

.welcome-content {
  @apply relative;
}
.hero-img {
  position: absolute;
  right: -44vw;
  top: -44vh;
  height: 127vh;
  width: 100%;
  z-index: -1;
  transform: scale(1.3);
}
.auth-card,
.card-1 {
  background-color: white;
  width: 93%;
  padding: 1.8rem 3rem 1.5rem 3rem;
  margin-left: auto;
  margin-right: auto;
}
.auth-card {
  max-width: 600px;
}
.auth-card .card-header,
.card-1 .card-header {
  @apply font-proximanova mb-3;
  font-size: clamp(1.3125rem, 0.9219rem + 1.25vw, 1.625rem);
}
.auth-card .card-body {
  @apply w-full;
}
.auth-card input:not([type="checkbox"]) {
  @apply w-full ml-0 !important;
}
#over .img-wrapper {

  height: 550px;
}
#over .img-wrapper .img {
  @apply object-contain p-4 !important;
  background-image: url(/storage/home/circle.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
div#newsletter {
  height: 500px;
}
div#newsletter::after {
  content: "";
  @apply block  h-full absolute top-0  bg-primary;
  left: -20vh;
  width: 120vw;
  z-index: -1;
}
@media screen and(min-width: 769px) {
  #subscribe {
    min-width: 500px;
  }
}

#features .img-wrapper {
  height: 100px;
  width: 100px;
}
.img.object-contain-imp {
object-fit: contain !important;
}
#team svg {
  @apply h-8 w-8 !important;
}
#team .github {
  transform: scale(1.3);
} 
#contact:before {
  content:"";
  width: 120vw;
  left: -20vw;
  height: calc(60px + 100%);
  z-index: -2;
  @apply block absolute bg-primary top-0;
}
.card-1 {
  padding: 2.2rem 3rem;
}
#contact .img {
  object-fit: contain;
  padding: 20% !important;
}
#contact:after {
  content: "";
  display: block;
  width: 120vw;
  height: calc(100% + 60px);
  position: absolute;
  background-image: url(/storage/home/hero_bg.svg);
  background-position-x: -369px;
  background-position-y: -70px;
  background-repeat: no-repeat;
  top: 0px;
  z-index: -1;
}
.contact-card {
  max-width: 1200px;
}
@media (max-width: 769px) {
  .home .header {
   height: 0;
  }
  .hero-background {
    height: 15vh;
  }
  .hero-background .img-wrapper,
  .hero-section .img-wrapper {
    height: 150px;
    width: 150px;
  }
  .hero-background .hero-img {
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 100%;
      z-index: -1;
      transform: scale(4);
  }
  .hero-background .img-wrapper {
    position: absolute;
    top: 130%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .hero-section {
    height: auto !important;
    display: block;
    margin-top: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}
  #login,
  #register {
  margin-top: 20vh;
  }
  .auth-card {
    @apply w-full p-6 shadow-none rounded-none;
  }
  #over .img-wrapper {
    height: 350px;
  }
  #contact:before,
  #contact:after {
    display: none;
  }
  .card-1{
    @apply p-6;
  }
  article {
    padding-top: 32px;
    margin-bottom: 32px;
  }
  .contact-card {
    box-shadow: none !important;
    border-radius: 0 !important;
  }
}
/* Create Profile */
.createProfile form{
  max-width: 700px;
}
.createProfile {
  @apply relative flex-1;
}
.createProfile:before,
.gruppo-app:after {
  content: "";
  @apply block absolute w-full h-screen bg-no-repeat;
  background-image: url(/storage/home/hero_bg.svg);
  z-index: -1;
  background-size: 57%;
}
.gruppo-app {
  @apply relative;
}
.gruppo-app:after {
  top: -47%;
  left: 0;
  background-position-y: top;
  background-position-x: 150%;
}
.createProfile:before {
  top: 40%;
  left: 0;
  background-position-y: bottom;
  background-position-x: -51%;
}
.createProfile2 .edit-icon {
  @apply absolute ;
  right: -5px;
  bottom: 15px;
}
.createProfile2 #profil_photo {
  top:0;
  left:0;
  z-index: 5;
  @apply h-full cursor-pointer;
}
@media screen and (max-width: 769px) {
  .createProfile form {
    margin-top: 15vh;
  }
  .createProfile .hero-background {
    top: -80px;
    z-index: 10;
  }
  .createProfile:before {
    display: none;
  }
}
@media screen and (min-width: 769px) {
  .createProfile {
    @apply overflow-hidden;
  }

}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .switch .toggler {
    position: absolute !important;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .switch .toggler:before {
    position: absolute !important;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .switch input:checked + .toggler {
    background-color: #2196F3;
  }
  
  .switch input:focus + .toggler {
    box-shadow: 0 0 1px #2196F3;
  }
  
  .switch input:checked + .toggler:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .switch .toggler.round {
    border-radius: 34px;
  }
  
  .switch .toggler.round:before {
    border-radius: 50%;
  }